{{ ansible_managed | comment }}

ARGS="{% for flag, flag_value in nfcapd_config_flags_extra.items() %}-{{ flag }}{% if flag_value %} {{ flag_value }}{% endif %} {% endfor %}{% for item in nfcapd_config_agents %}-n {{ item }}{% if not loop.last %} {%endif%}{% endfor %}"
